mixin head(styles = [])
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover")
    title Ognivo
    //- Meta
    meta(name="description" content="template")
    meta(name="keywords" content="template")
    meta(name="robots" content="index, follow")
    meta(name="robots" content="index, follow")
    link(rel="icon" type="image/x-icon" href="files/favicon.ico")
    link(rel="shortcut icon" type="image/svg" href="files/favicon.svg")
    link(
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="files/favicon-96x96.png"
    )
    link(
      rel="apple-touch-icon"
      sizes="180x180"
      href="files/apple-touch-icon.png"
    )
    link( rel="manifest" href="files/site.webmanifest.json" )
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet")
    //- Подключение стилей
    <link href="https://cdn.jsdelivr.net/npm/air-datepicker@3.5.3/air-datepicker.min.css" rel="stylesheet">
    link(rel="stylesheet", href=`./css/style.css`)
    <script src="https://api-maps.yandex.ru/v3/?apikey=43191fbc-c80b-4bf4-98ef-b14487ccd9d8&lang=ru_RU"></script>
    each style in styles
      link(rel="stylesheet", href=`./css/${style}.css`)